@import url(https://db.onlinewebfonts.com/c/e65b3019cef673e5ebca74e51563c65c?family=GoodVibrationsROBScript);
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background: #101827;
  --secondary: #ffb706;
  --tertiary: #374151;
  --quaternary: white;
  --footerPrim: #1f2937;
  --footerSec: #4b5563;
}

* {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html,
body {
  height: 100vh;
}

.nav-link {
  color: var(--quaternary);
  font: 4rem;
  text-decoration: none;
}

.header {
  background-color: var(--background);
  display: flex;
  padding: 1rem 20%;
  color: var(--secondary);
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.2rem rgb(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.nav-bar {
  font-weight: 400;
  font-size: 1.25rem;
  display: flex;
  gap: 2rem;
}

.nav-home {
  text-decoration: none;
  font-family: GoodVibrationsROBScript;
  color: var(--secondary);
  font-size: 2rem;
}

.dark-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--footerPrim);
  z-index: 2;
}

.dark-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--footerPrim);
}

.home {
  min-height: 85vh;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--background);
  color: var(--quaternary);
  box-shadow: 0 0.2rem rgb(0, 0, 0, 0.3);
  position: relative;
  z-index: 0;
}

.home-pfp {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.25rem solid var(--tertiary);
  margin-bottom: 1rem;
}

.home-hey {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary);
}

.home-name {
  font-size: 5rem;
  font-weight: 600;
}

.home-intro {
  max-width: 40rem;
}

.home-link {
  margin-top: 1rem;
  text-decoration: none;
  color: var(--quaternary);
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  background-color: var(--secondary);
}

.footer {
  padding: 1.5rem;
  background-color: var(--footerPrim);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-link-box {
  display: flex;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--footerSec);
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0.1rem rgb(0, 0, 0, 0.3);
}

svg {
  display: block;
  fill: var(--quaternary);
  background-color: var(--footerSec);
  height: 2rem;
  width: 2rem;
}

.about {
  min-height: 85vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--quaternary);
}

.about-heading {
  font-size: 1.5rem;
  color: var(--secondary);
  margin-top: 1rem;
}

.story-heading {
  font-size: 2.5rem;
  font-weight: 600;
}

.about-description {
  max-width: 50rem;
}

.divider {
  margin: 2rem 0;
  height: 0.1rem;
  width: 50rem;
  background-color: var(--secondary);
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem 3rem;
  margin: 1rem;
}

.skill-box {
  height: 7rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.skill-box img {
  height: 5rem;
  width: 5rem;
}
